<html xmlns:th="http://www.w3.org/1999/html" >
<head>Error</head>
<body>
<div id="fullscreen_bg" class="fullscreen_bg">
    <div id="regContainer" class="container">
        <center>
            <h3>Error page. You don't have allowed for this page.</h3>
            <form th:action="@{/admin/list}" method="get">
                <button class="btn btn-md btn btn-primary" name="back"
                        type="Submit">Back
                </button></form>
        </center>
    </div>
</div>
</body>

</html>